@media screen and (max-width: 639px) {

    :root {
        --row-capacity: 2;
    }

    /* CONTROLS */
    /* song */
    #song div:first-of-type span:first-of-type {
        display: block;
    }

    #song div:last-of-type{
        flex-direction: column;
    }
}