@media screen and (max-width: 552px) {

    :root {
        --left-bar-width: 60px;
    }

    /* LEFT BAR */
    #left-bar {
        --left-bar-padding: 10px;
    }

    #left-bar .wide-view {
        display: none;
    }

    /* header */
    #site-header .small {
        display: block;
    }


}