@media screen and (max-width: 552px) {

    :root {
        --left-bar-width: 60px;
    }

    /* common */
    .wide-view{
        display: none !important;
    }

    /* LEFT BAR */
    #left-bar {
        --left-bar-padding: 10px;
    }

    /* header */
    #site-header .small {
        display: block;
    }

    /* user section */
    #user-account{
        --img-nrw-side: 2rem;
    }
    #user-account div{
        text-align: center;
    }
    #user-account div:last-child a{
        justify-content: center;
    }


}