/* GENERAL SETUP  */

:root

/* ,
:after,
:before  */
    {

    /* COMMON */
    --root-padding: 10px;
    font-size: 14px;

    /* palette */
    --color-accent: #adff2f;
    --color-dark-accent: #acff2f7e;



    /* LEFT BAR */
    --left-bar-width: 265px;



    /* CONTROLS */
    --controls-height: 90px;



    /* MAIN */
    --scroll-view-h: calc(100vh - var(--controls-height));

    /* main sections */
    --upgrader-height: calc(var(--controls-height) * 0.75);
    --categories-h: 25px;
    --galleries-h: calc(var(--scroll-view-h) - var(--upgrader-height) - var(--categories-h));


    /* gallery sizing */
    --row-capacity: 6;
    --gap-size: 0.5vw;
    --cover-width: calc((100%
                /* Totality */
                - (var(--gap-size)
                    /* minus gap size*/
                    * (var(--row-capacity) - 1)))
            /* per number of gaps */
            / var(--row-capacity)
            /* divided by number of cover per row */
        );




}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    /* background-color: white; */

    display: flex;
}

/* COMMON */
span.description {
    color: rgba(255, 255, 255, 0.5);
}

.scrollbar.inverted{
    direction: rtl;
}
.scrollbar.inverted > *{
    direction: ltr;
}
.scrollbar::-webkit-scrollbar {
    width: 7px;
}
.scrollbar::-webkit-scrollbar-track {
    background: #080b12;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-dark-accent);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}

.slider {
    -webkit-appearance: none;
    height: 5px;
    
    background: #5a5a5a;
    border-radius: 5px;
    background-image: linear-gradient(#c1c1c1,#c1c1c1);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #bebebe;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: all .3s ease-in-out;
}
.slider::-webkit-slider-thumb:hover {
    background: #99ff00;
}
/* Input Track */
/* input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
} */


/* LEFT-BAR */
#left-bar {
    position: relative;
    --left-bar-padding: calc(var(--root-padding) * 2);

    width: var(--left-bar-width);
    height: var(--scroll-view-h);
    overflow-y: auto;

    font-size: 1rem;
    font-weight: 500;
    /* color: #898989; */

    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/* header */
#site-header {
    padding: var(--left-bar-padding);
}

#site-header .wide-view {
    width: 70%;
}

#site-header .small {
    display: none;
    width: 100%;
}

/* main-nav */
#main-nav {
    --spacer: 0.5rem;
    margin-bottom: 2rem;
}

#main-nav li {
    padding-left: var(--left-bar-padding);
    border-left: 3px solid black;
}

#main-nav li:hover {
    border-color: var(--color-dark-accent);
}

#main-nav li.active {
    border-color: var(--color-accent);
}

#main-nav img {
    height: 2rem;
    margin-right: 0.2rem;
}

/* playlist section */
#user-playlists {
    --spacer: 1rem;
    flex: 0 0 35%;
    padding-left: var(--left-bar-padding);
    overflow-y: hidden;
}
#user-playlists>div:first-of-type i {
    font-size: 2rem;
    margin-right: 0.6rem;
}
#user-playlists>div:last-of-type{
    max-height: 50%;
    overflow-y: auto;
}
#user-playlists>div:last-of-type::-webkit-scrollbar{
    width: 3px;
}
#user-playlists ul{
    padding-left: 10px;
}

/* user section */
#user-account {
    width: calc(100%);

    --spacer: 0.4rem;
    --img-side: 1rem;

    padding: 10px var(--left-bar-padding);
    font-size: 0.8rem;
}

#user-account a {
    gap: 0.5rem;
}

#user-account div:first-child img {
    height: var(--img-nrw-side, var(--img-side));
}

#user-account hr {
    opacity: 0.5;
}

#user-account div:last-child img {
    height: var(--img-nrw-side, calc(var(--img-side) * 1.5));
    width: var(--img-nrw-side, calc(var(--img-side) * 1.5));

    /* background-color: #808080; */
    border-radius: 50%;
    padding: 1px;
    border: 1px solid white;
}



/* MAIN */
main {
    width: calc(100% - var(--left-bar-width));
    height: var(--scroll-view-h);

    background-color: #141922;

    display: flex;
    flex-direction: column;
}

/* upgrader section */
#upgrader {
    height: var(--upgrader-height);
    padding: calc(var(--root-padding) * 2);

    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
}

#upgrader a {
    border: 1px solid white;
    text-transform: uppercase;
}

#upgrader a span:last-child {
    display: none;
}

#upgrader a:hover {
    scale: 1.1;
}

#upgrader a:hover .accent {
    display: inline;
    color: var(--color-accent);
}

/* categories */
#categories {
    flex: 1 0 var(--categories-h);
    padding: calc(var(--root-padding) * 2);
}

#categories ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: baseline;
}

#categories li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categories li::after {
    display: none;
    content: "";
    margin-top: 0.2rem;
    width: 2rem;
    height: 2px;
}

#categories li:hover:after {
    display: inline-block;
    background-color: var(--color-dark-accent);
}

#categories li.active:after {
    display: inline-block;
    background-color: var(--color-accent);
}

/* galleries */
.galleries {
    flex: 1 0 var(--galleries-h);
    overflow-y: auto;
}

.gallery {
    padding: var(--root-padding);
}
.gallery h2 {
    margin-bottom: 0.8rem;
}

/* cover */
.covers {
    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size);
}

.cover {
    flex: 0 0 var(--cover-width);

    --spacer: 0.5rem;
    padding: var(--root-padding);
    border-radius: 21px;

    transition: all 0.3s ease;

    text-align: center;
}

.cover:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.cover .img-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.cover.artist .img-container {
    border-radius: 50%;
}

.cover:hover .img-container::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding-top: calc(50% - 1.5rem);

    font-size: 3rem;
    content: '\25BA';

    background-color: rgba(0, 0, 0, 0.4);
}

.cover>h4 {
    font-size: .7rem;
}

.cover .description {
    font-size: .8rem;
}



/* CONTROLS */
#controls {
    position: fixed;
    bottom: 0px;
    right: 0px;

    width: 100%;
    height: var(--controls-height);
    padding: var(--root-padding);

    background-color: #282828;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    --side-panel: 0 1 220px
}

/* song */
#song {
    flex: var(--side-panel);
    justify-self: flex-start;

    height: calc(var(--controls-height) / 1.5);
    overflow: hidden;

    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem 10px;
}

#song img {
    height: calc(var(--controls-height) / 1.5);
    min-width: calc(var(--controls-height) / 1.5);
}

#song div:first-of-type *{
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#song div:last-child {
    flex-wrap: wrap;
    gap: 1rem;
}

/* player */
#player {
    flex: 0 1 33%;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* nav */
#player nav{
    flex: 0 0 100%;

    display: flex;
    justify-content: center;
}
#player nav ul {
    min-width: 150px;
    justify-content: center;
    gap: 9%;
}
#player nav li:nth-child(3) i {
    font-size: 2rem;
}
#player nav li:hover i {
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
}

/* time bar */
#time-bar{
    flex: 0 0 100%;

    justify-content: center;
    gap: 1rem;
}
#time-bar input{
    flex: 1 0 50px;
    max-width: 400px;
}


/* audio output */
#audio-output {
    flex: var(--side-panel);
    justify-self: flex-end;

    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
#audio-output div{
    gap: 1rem;
}
#audio-output input{
    flex: 0 1 80px;
}